.nav-container{
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0,0,0), 0.5);
  width: 100%;
  height: 0.25%vh;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo>p{
  margin-left: 15px;
  color: black
}
.logo>img{
  width: 222px;
  height: 74px;
}
 .container-nav-list>ul{
    display: flex;
  }
  .container-nav-list>ul>li{
    list-style: none;
    margin: 15px 20px;
  }
  .btn-nav{
    margin: 5px;
  }
  .nav-menu{
  display: flex;
  align-items: center;
  }

@media all and (max-width:790px){
  .nav-container{
  justify-content: start;
  }
  .logo{
    margin: 10px;
  }
  .nav-menu{
  display: none;
  overflow: hidden;
  background-color: black ;
  opacity: 0.8;
  justify-content:start ;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 60%;
  z-index: 20;
  }
  .nav-menu>.container-nav-list>ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.container-nav-list>ul>li:hover{
    background-color: rgb(231, 17, 17);
    width: 100%;
    cursor: pointer;
    text-align: center;
    }
}


.show{
  display:flex;
  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 0.8; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 0.8; }
}
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}