.body{
  margin-top: 90vh;
}
.body>.heding{
  background-color:rgba(255, 255, 255, 0.5);;
  color: black;
  margin-left: 50px;
}
.card-container{
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
}