.container{
  margin: 0.02rem 2rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 84, 147, 0.05);
}
.logo{
  display: flex;
  justify-content: center;
  text-align: center;
}
.container>ul{
  display: flex;
}
.container>ul>li{
  list-style: none;
  margin: 1rem;
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
}
.container>ul>li:hover{
  background-color: rgba(232, 47, 102, 0.34);
  cursor: pointer;
}
.nav-btn>button{
  margin: 1rem;
}

.hero{
  margin: 0 2.5rem;
  display: flex;
  flex-direction: row;
}

.hero > img {
  display: flex;
  margin: auto;
  width: 800px;
  height: 450px;
}