.footer-container{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}
.footer-right{
  width: 20vw;
  margin-left: 2em;

}
.footer-right>div>img{
  width: 25px;
  height: 25px;
}
@media screen and (max-width:790px){
  .footer-container{
  display: flex;
  flex-direction: column;
}
}
.image-container{
  display: flex;
  justify-content: space-between;
}