.search{
  background-color: white;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.search input{
  width: 20rem;
  margin: 0 0 0 2em;
}
.search input ,button{
  border: none;
  background: none;
}
.search button{
  cursor: pointer;
}
.search>input:focus {
  outline: none;
}
@media screen and (max-width :790px ) {
  
  .wrap{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search{
    width: 60%;
    margin-top: 60px;
  }
  .search input{
  margin: auto;
  }
}
